<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="dataConfiguration"
                 type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <sectionGroup name="applicationSettings"
                      type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Comask.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     requirePermission="false" />
        </sectionGroup>
    </configSections>
    <dataConfiguration defaultDatabase="Comercial.Properties.Settings.COMERCIALConnectionString" />
    <connectionStrings>
       <add name="Comercial.Properties.Settings.COMERCIALConnectionString"
             connectionString="Data Source=localhost;Initial Catalog=COMERCIAL;Persist Security Info=True;User ID=comercial;Password=123*abc"
             providerName="System.Data.SqlClient"/> 

      <add name="Comercial.Properties.Settings.COMERCIALConnectionString_Analysis"
           connectionString="Provider=MSOLAP.4;Integrated Security=SSPI;Persist Security Info=True;Initial Catalog=COMERCIAL_MART;Data Source=localhost"
           providerName="System.Data.SqlClient"/> 

       <!-- <add name="Comercial.Properties.Settings.COMERCIALConnectionString_Analysis"
         connectionString="Data Source=srvoracle\sql2008;Initial Catalog=COMERCIAL_MART"
         providerName="System.Data.SqlClient"/>
      
      
      <add name="Comercial.Properties.Settings.COMERCIALConnectionString"
             connectionString="Data Source=srvoracle\sql2008;Initial Catalog=COMERCIAL;Persist Security Info=True;User ID=comercial;Password=123*abc"
             providerName="System.Data.SqlClient"/> -->

    </connectionStrings>


</configuration>