<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="COMERCIALEntities" connectionString="metadata=res://*/Comercial.csdl|res://*/Comercial.ssdl|res://*/Comercial.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=srvoracle\sql2008;Initial Catalog=COMERCIAL;Persist Security Info=True;User ID=comercial;Password=123*abc;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>