<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="Comercial.Properties.Settings.COMERCIALConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=COMERCIAL;Persist Security Info=True;User ID=sa;Password=123*abc"
            providerName="System.Data.SqlClient" />-->
        <add name="Comercial.Properties.Settings.COMERCIALConnectionString"
             connectionString="Data Source=zabs\sql2008;Initial Catalog=COMERCIAL;Persist Security Info=True;User ID=SIGA;Password=SIGA"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>