<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Comercial.Properties.Settings.COMERCIALConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=COMERCIAL;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>